<nav class="navbar navbar-inverse navbar-fixed-top navbar-jobfinder">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="dashboard">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Logout</a></li>

            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>


<div class="container-fluid">
    <div class="row" >
        <div class="col-sm-3 col-lg-2">
            <nav class="navbar navbar-inverse navbar-fixed-side margin-sidebar">
                <ul class="nav navbar-nav">
                    <li class="">
                        <a ui-sref=".created-jobs">Created Jobs</a>
                    </li>

                    <li>
                        <a ui-sref=".seek-jobs">Seek Jobs</a>
                    </li>

                    <li>
                        <a ui-sref=".applied-jobs">Applied Jobs</a>
                    </li>
                </ul>
                <!-- normal collapsible navbar markup -->
            </nav>
        </div>
        <div class="col-sm-9 col-lg-10">
            <div class="margin-dashboard-ui-view" ui-view></div>
        </div>
    </div>
</div>

