<div class="container">

    <h1 class="created-jobs-title"> Created Jobs</h1>

    <button ui-sref="dashboard.create-job" class="btn btn-success">Create New Job</button>

    <h2 class="created-jobs-title"> Pending </h2>

    <div class="row">
        <div class="job-list col-sm-10 col-sm-offset-1">
            <ul class="list-group">
                <li class="list-group-item clearfix" ng-repeat="pendingJob in vm.pendingJobs">
                    <span class="col-sm-4">
                        <h4 > {{ pendingJob.title }} </h4>  
                    </span>
                    <span class="col-sm-4 center-text-element"> 
                        Applicants: {{ pendingJob.applicantsPending}}
                     </span>
                    <span class="col-sm-4 right-text-element">
                        <button type="button" class="btn btn-danger"> DELETE </button>
                     </span>
                </li>
            </ul>
        </div>
    </div>

    <h2 class="created-jobs-title"> Approved </h2>

    <div class="row">
        <div class="job-list col-sm-10 col-sm-offset-1">
            <ul class="list-group">
                <li class="list-group-item clearfix" ng-repeat="approvedJob in vm.approvedJobs">
                    <span class="col-sm-4">
                        <h4 > {{ approvedJob.title}} </h4>  
                    </span>
                    <span class="col-sm-4 center-text-element"> 
                        Applicants approved: {{approvedJob.applicantsApproved}} 
                     </span>
                    <span class="col-sm-4 right-text-element">
                        <button type="button" class="btn btn-info"> GO TO </button>
                     </span>
                </li>

            </ul>
        </div>
    </div>


</div>