<form name="myForm" ng-submit="login.onSubmit()">
    <header>

        <h1>Log in</h1>

        <div class="form-group" ng-if="login.error">
            <div class="alert alert-danger">
                <p>
                    Your credentials are not valid
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="credentials.email">

        </div>


        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="credentials.password">
        </div>


        <div class="form-group">
            <button type="button" class="btn btn-danger" ui-sref="home">Cancel</button>
            <button type="submit" class="btn btn-success">Sign in</button>
        </div>

    </header>
    <footer></footer>
</form>